.site-section-administracion {
    padding: 6em 0 5em 0em; 
  }
  .administracion{
    background-color: #ffffff;
  }
  
  /*TABLE*/
  .table{
    font-family: "Nexa Bold";
    text-transform: uppercase;
    border:none !important;
    border-collapse: separate;
    border-spacing: 0 18px !important;
  }
  .table td, .table th {
    border: 1px solid #caf9ca !important;
  }
  /*THEAD*/
  .table .thead-blue th{
      color: #4d4d4d;
      background-color: #caf9ca;
      border-color: #caf9ca;
      padding:1em 1em 1em 1em; 
      vertical-align: middle;
      height: 4em;
      text-align: left;
  }
  .table .thead-blue .numero{
    border-right: solid #ffffff !important;  
    text-align: center;
  }
  table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 2em !important;
  }
  table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    content: "" !important;
  }
  table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    content: "" !important;
  }
  /*TBODY*/
  .table-bordered td{
    border: 1px solid #caf9ca !important;
    padding:2em !important;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0) !important;
  }
  tbody .texto{
    border-right: none  !important;
  }
  tbody .download{
    border-left: none !important;
  }
  
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  
  /*page*/
  .page-item.active .page-link {
    color:#4d4d4d;
    background-color: #caf9ca !important;
    border-color: #caf9ca !important;
    font-family: "Nexa Bold";
  }
  
  .page-link {
    color: #4d4d4d;
    font-family: "Nexa Light";
  }
  .custom-select {
    border: 1px solid #caf9ca !important;
    border-radius: none !important;
  }
  div.dataTables_wrapper div.dataTables_filter{
   display: none;
  }
  
  div.dataTables_wrapper div.dataTables_length {
    text-align: right !important;
  }
  div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal !important;
    white-space: nowrap !important;
    text-align: left !important;
  }
  select {
    font-family: "Nexa Light"!important ;
  }
  .section_subtitle
{
	line-height: 1.5em;
    margin-top: 1.8em;
    font-size: 1rem;
    font-family: "Nexa Light";
}