body{
  background-color: #fff;
}
@font-face {
  font-family: "Nexa Bold";
  src: url("../fonts/NexaBold/NexaBold.woff2");
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri/Calibri.woff2");
}
@font-face {
  font-family: "Calibri Bold";
  src: url("../fonts/Calibrib/Calibrib.woff2");
}
@font-face {
  font-family: "NimbusSanTBla";
  src: url("../fonts/NimbusSanTBla/NimbusSanTBla.woff2");
}

ul
{
	list-style: none;
	margin-bottom: 0px;
}
/*********************************
3. Header
*********************************/
.header
{
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}


/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
  background: #3c495b;
}
.top_bar_container
{
	width: 100%;
  height: 100%;
}
.top_bar_content
{
	width: 100%;
	height: 51px;
}
.top_bar_horario
{
	display: inline-block;
}
.horario
{
  color: #92b8dd;
  text-align:left;
  font-size: 1.0833rem;
  font-family: "Calibri",serif;
	margin-left: 0px;
}
.top_bar_horario li i,
.top_bar_horario li > div
{
	display: inline-block;
	font-size: 1.0833rem;
	color: #92b8dd;
}
.top_bar_horario li > div
{
	margin-left: 1px;
}
.top_bar_horario li:not(:last-child)
{
	margin-right: 21px;
}

/*********************************
3.2 Middle Bar
*********************************/

.middle_bar
{
	width: 100%;
  background: #f6f8fa;
}
.middle_bar_container
{
	width: 100%;
  height: 100%;
}
.middle_bar_content
{
	width: 100%;
	height: 158px;
}
.top_middle_logo{
  display: inline-flex;
}
/*********************************
3.3 Header Content
*********************************/

.header_bar
{
	width: 100%;
	background: #ba2831;
}
.header_container
{
	width: 100%;
  height: 100%;
}

/*********************************
3.4 Main Nav
*********************************/
.nav li
{
	display: inline-block;
	position: relative;
}
.nav li:not(:last-child)
{
	margin-right:2px;
}
.nav li a
{
  font-family: "Nexa Bold",serif;
  font-size: 0.8rem;
  color:#3c495b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.nav li a:hover,
.nav li.active a
{
	color: #ffffff;
}
/*********************************
4. Home
*********************************/
.home
{
	width: 100%;
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider
{
	width: 100%;
	height: 100%;
}
/*********************************
5.NOTICIAS
*********************************/
.noticias{
  background-color: #f4fbff;
}
.noticias_descr
{
  width: 100%;
}
.noticias_descr_image
{
	width: 100%;
	overflow: hidden;
}
.noticias_descr_image img
{
	max-width: 100%;
}
.noticias_descr_body
{
	padding-top: 27px;
	padding-right: 19px;
	padding-bottom: 23px;
}
.noticias_descr_title h4
{
  margin-top: 28px;
  margin-bottom: 21px;
  font-family: "Nexa Bold",serif;
  font-size: 1.4167rem;
}
.noticias_descr_fecha
{
  font-family: "Nexa Light",serif;
  font-size: 0.9167rem;
  margin-bottom: 15px;
}
.noticias_descr_text 
{
  margin-top: 13px;
  font-family: "Nexa Light",serif;
  font-size: 1.1667rem;
  margin-bottom: 29px;
}
.noticias .btn{
  border-radius: 30px;
  height: 35px; 
  width: 130px;
  font-size: 1rem;
  text-align: center; 
  color:#ff1d25;
  border-color: #ff1d25;
}
.noticias .btn:hover{
  background-color:#ff1d25;
  color: #ffffff;
}


/* ACCESOS CONTENT
-------------------------------------------------- */
.site-section {
  padding: 3em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 6em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading h2 {
  font-size: 2.17rem;
  font-family: "Nexa Bold";
  text-transform: uppercase;
  color: #4d4d4d; 
}
.site-section-heading.w-border h2 {
  position: relative;
  padding-bottom: 13px;
  display: inline-block; 
}
.site-section-heading.w-border h2:after {
    position: absolute;
    content: "";
    width: 21px;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #4d4d4d; 
}
.site-section-heading.w-border.text-center h2:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); 
}
.single-accesos {
  margin-top: 10px;
  text-align: center;
}
.single-accesos .image{
  height: 108px;
  width: 105px;
  display: inline-block;
  position: relative;
}
.single-accesos .desc h6 {
  margin: 20px 0;
  letter-spacing: 1px;
  color:#2b2b2b;
  font-family: "Nexa Light";
  font-style: 1.17rem;
}
.documentos{
  background-color: #ba2831;
}
.site-section-headingdocumentos h2 {
  font-size: 2.17rem;
  font-family: "Nexa Bold";
  text-transform: uppercase;
  color: #ffffff; 
}
.site-section-headingdocumentos.w-border h2 {
  position: relative;
  padding-bottom: 13px;
  display: inline-block; 
}
.site-section-headingdocumentos.w-border h2:after {
    position: absolute;
    content: "";
    width: 21px;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #ffffff; 
}
.site-section-headingdocumentos.w-border.text-center h2:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); 
}
.single-document {
  margin-top: 10px;
  text-align: center;
}
.single-document .image{
  height: 108px;
  width: 105px;
  display: inline-block;
  position: relative;
}
.single-document .desc h6 {
  margin: 20px 0;
  letter-spacing: 1px;
  color:#ffffff;
  font-family: "Nexa Light";
  font-style: 1.17rem;
}

/*********************************
7. partners
*********************************/
.partners
{
	width: 100%;
	background: #f2f2f2;
}
.partner_item
{
  height: 100%;
}
.partner_item img
{
	position: relative;
	width: 150px !important;
  top: 50%;
  height: 80px;
}
/*********************************
7. partners2
*********************************/
.partners2
{
	width: 100%;
  background: #f2f2f2;
}
.partner2_item
{
  height: 100%;
}
.partner2_item img
{
	position: relative;
	width: 150px !important;
  top: 50%;
  
  height: 56px;
}

.footer {
  background-color: #22252b;
}
@media (min-width: 768px) {
    .footer {
      padding: 3em 0; 
      } 
    }
.footer a{
  font-family: "Nexa Bold";
  font-size: 0.70rem;
  color:#ffffff;
}
.footer p{
  color:#85898e;
  font-family: "Nexa Light";
  font-size: 0.92rem;
  margin-left: 68px;
}

/* ------------------------------------------------------------------- 
 * ## go to top
 * ------------------------------------------------------------------- */
 .go-top {
  position: fixed;
  bottom:0px;
  right: 68px;
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}
.go-top img{
  width: 15px;
  height: 14px;
  margin-top:-2px;
}
.go-top a, .go-top a:visited {
  font-family: "NimbusSanTBla";
  font-size: 1.25rem;
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 2.32rem;
  width: 5.38rem;
  line-height: 2.3rem;
  text-align: center;
  background-color: #f4db05;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-top a:hover, .go-top a:focus {
  color: #FFFFFF;
  background-color: #f4db05;
}

.go-top.link-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
