body{
  background-color: #ffffff;
}
@font-face {
  font-family: "Nexa Bold";
  src: url("../fonts/NexaBold/NexaBold.woff2");
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri/Calibri.woff2");
}
@font-face {
  font-family: "Calibri Bold";
  src: url("../fonts/Calibrib/Calibrib.woff2");
}

.tiraFecha {
  background-color: #3c495b;
  height: 51px;
}

.tiraFecha span{
  color: #92b8dd;
  display:block;
  text-align:left;
  font-size: 1.0833rem;
  font-family: "Calibri",serif;
}
/*Logo*/
.logo{
  background-color: #f6f8fa;
  height: 158px;
}
.logo img{
  padding-top: 41px;
  padding-right: 35px;
  padding-left: 91px;
}
.logo span{
  font-family: "Calibri Bold", serif;
  font-size: 1.1rem;
}
/*navbar*/
nav.navbar {
  background-color: #ba2831;
}

.navbar-toggler {
  border-color: transparent !important;
}

/* cambiar tipo de letra */
nav.navbar ul li {
  font-family: "Nexa Bold",serif;
  font-size: 0.9583rem;
  margin: 10px;
}

nav.navbar ul li a { 
  color:#3c495b;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    
      