body{
  background-color: #fff;
}
@font-face {
  font-family: "Nexa Bold";
  src: url("../fonts/NexaBold/NexaBold.woff2");
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri/Calibri.woff2");
}
@font-face {
  font-family: "Calibri Bold";
  src: url("../fonts/Calibrib/Calibrib.woff2");
}
@font-face {
  font-family: "NimbusSanTBla";
  src: url("../fonts/NimbusSanTBla/NimbusSanTBla.woff2");
}
html {
  font-size: 100%; /* 100% = 16px */
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
/*********************************
3. Header
*********************************/
.header
{
	width: 100%;
	z-index: 100;
}

/*********************************
3.1 Top Bar
*********************************/
.top_bar
{
	width: 100%;
  background: #3c495b;
}
.top_bar_container
{
	width: 100%;
  height: 100%;
}
.top_bar_content
{
	width: 100%;
	height: 51px;
}
.top_bar_horario
{
	display: inline-block;
}
.horario
{
  color: #92b8dd;
  text-align:left;
  font-size: 0.9rem;
  font-family: "Calibri",serif;
	margin-left: 0px;
}
.top_bar_horario li i,
.top_bar_horario li > div
{
	display: inline-block;
	font-size: 0.9rem;
	color: #92b8dd;
}

.navbar-toggler-icon{
  background-image: url('../img/navbar/toggler.png');
  font-size: x-small;
}
.navbar-brand img{
  float: right;
}
.spanDiresa{
  font-family: "Calibri Bold", serif;
  font-size: 0.7rem;
  color:#fff;
}

/* cambiar tipo de letra */
nav.navbar ul li {
  font-family: "Nexa Bold",serif;
  font-size: 0.9583rem;
  margin: 10px;}
  
.top_bar_horario li > div
{
	margin-left: 1px;
}
.top_bar_horario li:not(:last-child)
{
	margin-right: 21px;
}

/*********************************
3.2 Middle Bar
*********************************/

.middle_bar
{
	width: 100%;
  background: #f6f8fa;
}
.middle_bar_container
{
	width: 100%;
  height: 100%;
}
.middle_bar_content
{
	width: 100%;
	height: 158px;
}
.top_middle_logo{
  display: inline-flex;
}
.top_middle_logo span{
  font-family: "Calibri Bold", serif;
  font-size: 1.1rem;
  color:#555557;
}
/*********************************
3.3 Header Content
*********************************/

.header_bar
{
	width: 100%;
  background: #ffffff;
}
.header_container
{
	width: 100%;
  height: 100%;
  
}


/*********************************
3.4 Main Nav
*********************************/
.nav li
{
	display: inline-block;
	position: relative;
}
.nav li:not(:last-child)
{
	margin-right:4px;
}
.nav li a
{
  font-family: "Nexa Bold",serif;
  font-size: 0.8rem;
  color:#3c495b;
}
.nav li a:hover,
.nav li.active a
{
	color: #ba2b31;
}
/*********************************
4. Home
*********************************/
.home
{
	width: 100%;
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider
{
	width: 100%;
	height: 100%;
}
/*********************************
5.NOTICIAS
*********************************/
.site-section-noticias {
  padding: 6em 0 5em 2em; 
}

.site-section-heading h2 {
  font-size: 2rem;
  font-family: "Nexa Bold";
  text-transform: uppercase;
  color: #4d4d4d; 
}
.site-section-heading.w-border h2 {
  position: relative;
  padding-bottom: 0.4em;
  display: inline-block; 
}
.site-section-heading.w-border h2:after {
    position: absolute;
    content: "";
    width: 0.7em;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #4d4d4d; 
}
.site-section-heading.w-border.text-center h2:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); 
}
.noticias{
  background-color: #f4fbff;
}
.noticias_descr
{
  width: 100%;
  padding: 0.5em;
}
.noticias_descr_image
{ 
	width: 100%;
	overflow: hidden;
}
.noticias_descr_image img
{
	max-width: 95%;
}
.noticias_descr_body
{
	padding-top: 1em;
	padding-right: 0.5em;
	padding-bottom: 1em;
}
.noticias_descr_title
{
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  font-family: "Nexa Bold",serif;
  font-size: 1.3rem;
}
.noticias_descr_fecha
{
  font-family: "Nexa Light",serif;
  font-size: 0.9167rem;
  margin-bottom: 0.5em;
}
.noticias_descr_text 
{
  font-family: "Nexa Light",serif;
  font-size: 0.9rem;
  margin-bottom: 1.2em;
  text-align: justify;
}
.noticias .btn{
  border-radius: 30px;
  height: 2.5em; 
  width: 7em;
  font-size: 0.92rem;
  text-align: center; 
  color:#ff1d25;
  border-color: #ff1d25;
  font-family: "Nexa Light",serif;
}
.noticias .btn:hover{
  background-color:#ff1d25;
  color: #ffffff;
}

/*********************************
6.ACCESOS
*********************************/
.site-section {
  padding: 6em 0 5em 0em; 
}
.accesos
{
	width: 100%;
}
.acceso{
  width: 100%;
}
.accesos_image
{
	width: 100%;
  overflow: hidden;
  text-align: center;
}
.accesos_image svg
{
  max-width: 100%;
  display: inline-block;
  position: relative;
}
.accesos_body
{
	padding: 0.8em;
}
.accesos_body p
{
  color:#2b2b2b;
  font-family: "Nexa Light";
  font-size: 1.2rem;
  text-align: center;
}

.accesos_body p:hover
{
	color:red;
}
.accesos_image svg {
  width: 100px;
  height: 100px;
}
.accesos_image svg:hover,
svg:focus{
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%)
  
}
/*********************************
7. partners
*********************************/
.partners
{
	width: 100%;
  background:#ffffff;
  text-align: center;
}

/*********************************
8.Documentos
*********************************/
.documentos{
  background-color: #ba2831;
  width: 100%;
}
.site-section-headingdocumentos h2 {
  font-size: 2rem;
  font-family: "Nexa Bold";
  text-transform: uppercase;
  color: #ffffff; 
}
.site-section-headingdocumentos.w-border h2 {
  position: relative;
  padding-bottom: 0.4em;
  display: inline-block; 
}
.site-section-headingdocumentos.w-border h2:after {
    position: absolute;
    content: "";
    width: 0.7em;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #ffffff; 
}
.site-section-headingdocumentos.w-border.text-center h2:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); 
}
.documento{
  width: 100%;
}

.documento_image
{
  padding-top: 10%;
	width: 100%;
  overflow: hidden;
  text-align: center;
}
.documento_image img
{
  max-width: 100%;
  display: inline-block;
  position: relative;
}
.documento_body
{
	padding-top: 2em;
  padding-bottom: 2em;
}
.documento_body p
{
  letter-spacing: 1px;
  color:#ffffff;
  font-family: "Nexa Light";
  font-size: 1.17rem;
  text-align: center;
}
.documento:hover
{
  border: 3px white solid;
  border-radius: 0.7rem;
  height: 100%;
}

/*********************************
9. partners2
*********************************/
.site-sectionpartner2{
  padding: 6em 0em 5em 9.5em; 
}
.partners2
{
	width: 100%;
  background: #f2f2f2;
  
}
.partners_slider_container
{
	width: calc(100% + 20px);
	left: -50px;
}
.partners_slider
{
	height: 150px;
}
.partner_item
{
	height: 100%;
	cursor: pointer;
}
.partner_item img
{
  position: relative;
  padding-left: 4em;
	width: 110% !important;
	top: 50%;
	left: 500%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.partner_item:hover img
{
	-webkit-filter: grayscale(0%);
  	filter: grayscale(0%);
}
/*********************************
10. footer
*********************************/
.footer {
  padding: 3em 0em 2em 0em; 
  background-color: #22252b;
}
.footer-menu{
  width: 100%;
}
.divisionfooter{
  margin-left: 1em;;
}
.footer .divisionfooter a{
  font-family: "Nexa Bold";
  font-size: 0.6em;
  color:#ffffff;
  margin-bottom: 2em;
}
.iniciofooter{
  margin-left: -1em;
}
.footer p{
  color:#85898e;
  font-family: "Nexa Light";
  font-size: 0.7rem;
}
.footer_social ul li
{
	display: inline-block;
	width: 3em;
	height:3em;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 0.8em;
}
.footer_social ul li a
{
	display: block;
	position: relative;
	text-align: center;
}
.footer_social ul li a i
{
	color: #FFFFFF;
	line-height: 3em;
}

.col-xs-9ths,
.col-sm-9ths,
.col-md-9ths,
.col-lg-9ths {
  position: relative;
  min-height: 1px;
  text-align: center;
}

/* ------------------------------------------------------------------- 
 * ## go to top
 * ------------------------------------------------------------------- */
 .go-top {
  position: fixed;
  bottom:0px;
  right: 10%;
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}
.go-top img{
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
  margin-bottom: 0.19em;

}
.go-top a, .go-top a:visited {
  font-family: "NimbusSanTBla";
  font-size: 1.25rem;
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 2.32rem;
  width: 5.38rem;
  line-height: 2.3rem;
  text-align: center;
  background-color: #f4db05;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-top a:hover, .go-top a:focus {
  color: #FFFFFF;
  background-color: #f4db05;
}

.go-top.link-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*********************************
5.NOTICIAS
*********************************/
.site-section-administracion {
  padding: 6em 0 5em 0em; 
}
.administracion{
  background-color: #ffffff;
}

/*TABLE*/
.table{
  font-family: "Nexa Bold";
  text-transform: uppercase;
  border:none !important;
  border-collapse: separate;
  border-spacing: 0 18px !important;
}
.table td, .table th {
  border: 1px solid #caf9ca !important;
}
/*THEAD*/
.table .thead-blue th{
    color: #4d4d4d;
    background-color: #caf9ca;
    border-color: #caf9ca;
    padding:1em 1em 1em 1em; 
    vertical-align: middle;
    height: 4em;
    text-align: left;
}
.table .thead-blue .numero{
  border-right: solid #ffffff !important;  
  text-align: center;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-right: 2em !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  content: "" !important;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  content: "" !important;
}
/*TBODY*/
.table-bordered td{
  border: 1px solid #caf9ca !important;
  padding:2em !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,0) !important;
}
tbody .texto{
  border-right: none  !important;
}
tbody .download{
  border-left: none !important;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

/*page*/
.page-item.active .page-link {
  color:#4d4d4d;
  background-color: #caf9ca !important;
  border-color: #caf9ca !important;
  font-family: "Nexa Bold";
}

.page-link {
  color: #4d4d4d;
  font-family: "Nexa Light";
}
.custom-select {
  border: 1px solid #caf9ca !important;
  border-radius: none !important;
}
div.dataTables_wrapper div.dataTables_filter{
 display: none;
}

div.dataTables_wrapper div.dataTables_length {
  text-align: right !important;
}
div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal !important;
  white-space: nowrap !important;
  text-align: left !important;
}
select {
  font-family: "Nexa Light"!important ;
}
#loadMore {
  padding-top: 30px;
  text-align: center;
  width: 100%;
}
#loadMore a {
  background: #ffffff;
  border-radius: 100%;
  height: 75px;
  color: #ba2831;
  display: inline-block;
  padding: 10px 30px;
  transition: all 0.25s ease-out;
  -webkit-font-smoothing: antialiased;
}
#loadMore a:hover {
  background-color: #042a63;
}
#loadMore a i {
  padding-top: 2px;
}

/*contact-html*/
.contact_form
{
  font-family: "Nexa Light";
  font-size:1em;
	padding-right: 10px;
}
.comment_form
{
	margin-top: 35px;
}
.comment_input
{
	width: 100%;
	height: 46px;
	border: solid 1px #d9d9d9;
	border-radius: 3px;
	padding-left: 19px;
	font-size: 16px;
	font-weight: 400;
	color: #2c3145;
}
.comment_form > div:not(:last-child)
{
	margin-bottom: 25px;
}
.comment_input:focus
{
	border: solid 1px #14bdee;
	outline: none;
}
.comment_textarea
{
	width: 100%;
	height: 150px;
	padding-top: 15px;
}
.comment_button
{
	width: 150px;
	height: 46px;
	background: #14bdee;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 3px;
	margin-top: 15px;
}
.comment_button:hover
{
	box-shadow: 0px 5px 40px rgba(0,0,0,0.25);
}
.contact_info
{
	padding-left: 45px;
}
.contact_info_text
{
	margin-top: 27px;
}

/* documentos_de_gestion*/
.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}




