
@media only screen and (max-width: 1199px)
{
  html {
    font-size:80%;
  }
  .partners_slider_container
  {
    width: 100%;
    left: -80px;
  }
  .partners_slider_container2
  {
    width:100%;
    left: 80px;
  }
  .collapse.dont-collapse-sm {
    visibility: visible;
  }
  .col-lg-9ths {
      width: 11.2%;
      float: left;
      text-align: center; 
  }   
  .col-lg-9ths {
      width: 11.2%;
      float: left;
      text-align: center; 
  }  
  .documento_ocultar{
    display: block;
  }  
  .collapse.dont-collapse-sm {
    visibility: visible;
    display: block;
    height: auto !important;
  }
  
}
@media only screen and (max-width: 991px)
{
  html {
    font-size: 57%;
  }
  .site-section-noticias {
    padding: 3em 2em 4em 2em; 
  } 
  .site-section {
    padding: 3em 2em 4em 2em; 
  } 
  .site-section-headingdocumentos {
    padding: 3em 2em 0 2em; 
  } 
  .partners_slider_container
	{
		width: 100%;
		left: -40px;
	}
  .footer {
    padding: 3em 0em 2em 0em; 
    margin-left: 0em;
  }
  .iniciofooter{
    margin-left: -1.7em;
  }
  .footer .divisionfooter a{
    margin-bottom: 0em;
  }
  .go-top {
    right: 6.8%;
  }


}
@media only screen and (max-width: 575px)
{
  html {
    font-size: 50%;
  }
  .collapse.dont-collapse-sm.col-sm-none{
    display: none !important;
  }
  .col{
    padding-left: 0px !important;
  }
  .header_bar .container{
    background-color: #ba2831;
    }
  .site-section-noticias {
    padding: 3em 2em 4em 2em; 
  } 
  .site-section {
    padding: 3em 2em 4em 2em; 
  } 
  .noticias_descr{
    padding: 0.5em 4em 4em 4em;
  }
  .accesos_image svg{
    max-width: 55%;
    display: inline-block;
    position: relative;
  }
  .accesos_body{
    padding: 0.1em 1em 1em 1em;
  }
   .partners_slider_container
	{
		width: 100%;
    left: auto;
    text-align: center;
	}
  .site-sectionpartner2 {
    padding: 6em 0em 5em 1em;
  }
  .site-section-headingdocumentos {
    padding: 3em 2em 0 2em; 
  } 
  .footer {
    padding: 3em 0; 
  } 
  .footer p{
    text-align: center;
  }
  .col-sm-12ths {
    width: 100%;
    line-height: 0;
    text-align: center;
    margin-bottom: 1.5em;
    margin-left: 3.3em;
  }
  .col-sm-9ths {
    width: 15%;
    float: left;
  }

  .divisionfooter{
    margin-left: -2em;;
  }
  .footer .divisionfooter a{
    margin-bottom: 0em;
  }

  .footer_social ul li:not(:last-child)
  {
    margin-right: -2em;
  }

  tbody svg image{
    width: 20px;
    height: 20px;
  }
  .table .thead-blue th{
    padding:0.3em 1em 0.3em 1em; 
    height: 2em;
  }

  /*INSTITUCION*/
  .institucion{
    margin: 0em 2em 0em 2em;
  }
  .site-section-seccion {
    padding: 6em 0 5em 2em;
  }
  .card-body {
    padding: 1rem;
  }
}



