@media only screen and (max-width: 1199px) {
    html {
        font-size: 80%;
    }
    /* .partners_slider_container {
        width: 100%;
        left: -80px;
    }
    .partners_slider_container2 {
        width: 100%;
        left: 80px;
    }*/
    .collapse.dont-collapse-sm {
        visibility: visible;
    }
    .col-lg-9ths {
        width: 11%;
        float: left;
        text-align: center;
    }
    .documento_ocultar {
        display: block;
    }
    .collapse.dont-collapse-sm {
        visibility: visible;
        display: block;
        height: auto !important;
    }
    .go-top {
        right: 7%;
    }
    .enlaces {
        padding-left: 0%;
    }
    .footer_end {
        margin-left: 0.8em;
    }
}

@media only screen and (max-width: 991px) {
    html {
        font-size: 57%;
    }
    .site-section {
        padding: 3em 2em 4em 2em;
    }
    .site-section-headingdocumentos {
        padding: 3em 2em 0 2em;
    }
    .go-top {
        right: 6.8%;
    }
}

@media only screen and (min-width: 768px) {
    .d-mn-none {
        display: none !important;
    }
    .footer_social ul li {
        display: inline-block;
        width: 2em;
        height: 2em;
    }
    #botonclases {
        visibility: hidden;
    }
    #botondoc {
        visibility: hidden;
    }
}

@media only screen and (max-width: 767px) {
    .nav li a {
        font-size: 1.3rem;
        color: #fff;
    }
    .nav li a:hover,
    .nav li.active a {
        color: #fff;
    }
    html {
        font-size: 50%;
    }
    .header_bar {
        background-color: #ba2831;
    }
    .footer p {
        text-align: center;
    }
    .footer_social ul {
        padding-inline-start: 39%!important;
    }
    .footer_social ul li:not(:last-child) {
        margin-right: 2em;
    }
    #botonclases {
        visibility: hidden;
    }
    #botondoc {
        visibility: hidden;
    }
}

@media only screen and (max-width: 575px) {
    .bd-placeholder-img {
        height: 20em;
    }
    #main-slider .owl-dots {
        display: none;
    }
    .collapse.dont-collapse-sm.col-sm-none {
        display: none !important;
    }
    .col {
        padding-left: 0px !important;
    }
    .site-section {
        padding: 3em 2em 4em 2em;
    }
    .noticias_descr {
        padding: 0.5em 4em 4em 4em;
    }
    .accesos_image svg {
        max-width: 55%;
        display: inline-block;
        position: relative;
    }
    .accesos_body {
        padding: 0.1em 1em 1em 1em;
    }
    /*partners*/
    .owl-carousel .partner-contenedor {
        width: 100%;
        height: 80px;
    }
    .owl-carousel .partner-contenedor img {
        height: 65%;
        width: 50%!important;
        margin-left: 20%;
    }
    .owl-carousel .enlaces-contenedor {
        width: 100%;
        height: 80px;
    }
    .owl-carousel .enlaces-contenedor img {
        height: 50%;
        width: 50%!important;
        margin-left: 20%;
    }
    /* .partners_slider_container {
        width: 100%;
        left: auto;
        text-align: center;
    }*/
    /*  .site-sectionpartner2 {
        padding: 6em 0em 5em 1em;
    }*/
    .site-section-headingdocumentos {
        padding: 3em 2em 0 2em;
    }
    .footer p {
        text-align: center;
    }
    .footer_social ul {
        padding-inline-start: 39%!important;
    }
    .footer_social ul li:not(:last-child) {
        margin-right: 2em;
    }
    .col-sm-12ths {
        width: 100%;
        line-height: 0;
        text-align: center;
        margin-bottom: 2%;
        margin-left: 13%;
    }
    .col-sm-9ths {
        width: 15%;
        float: left;
    }
    .footer_end {
        margin-left: 0%;
    }
    tbody svg image {
        width: 20px;
        height: 20px;
    }
    /*INSTITUCION*/
    .site-section-seccion {
        padding: 3em 5em 5em 5em;
    }
    .institucion {
        width: 100%!important;
    }
    .card-body {
        padding: 1rem;
    }
    #main-slider .owl-prev {
        display: none!important;
    }
    #main-slider .owl-next {
        display: none !important;
    }
    @media only screen and (max-width: 414px) {
        #botonclases {
            visibility: visible;
        }
        #botondoc {
            visibility: visible;
        }
    }
}