
@media only screen and (max-width: 1199px)
{
  html {
    font-size:80%;
  }
  .partners_slider_container
  {
    width: 100%;
    left: -80px;
  }
  .partners_slider_container2
  {
    width:100%;
    left: 80px;
  }
  .collapse.dont-collapse-sm {
    visibility: visible;
  }
  .col-lg-9ths {
      width: 11%;
      float: left;
      text-align: center; 
  }   
  .documento_ocultar{
    display: block;
  }  
  .collapse.dont-collapse-sm {
    visibility: visible;
    display: block;
    height: auto !important;
  }
  .go-top {
    right: 7%;
  }
  
}
@media only screen and (max-width: 991px)
{
  html {
    font-size: 57%;
  }
  .site-section-noticias {
    padding: 3em 2em 4em 2em; 
  } 
  .site-section {
    padding: 3em 2em 4em 2em; 
  } 
  .site-section-headingdocumentos {
    padding: 3em 2em 0 2em; 
  } 
  .partners_slider_container
	{
		width: 100%;
		left: -40px;
	}
  .go-top {
    right: 6.8%;
  }
}
@media only screen and (min-width: 768px){
  .d-mn-none{
    display: none !important;
  }
}
@media only screen and (max-width: 767px){
  .nav li a
  {
    font-size: 1.3rem;
    color:#fff;
  }
  .nav li a:hover,
  .nav li.active a
  {
    color: #fff;
  }
  html {
    font-size: 50%;
  }
  .header_bar{
    background-color: #ba2831;
  }
}


@media only screen and (max-width: 575px)
{
  #main-slider .owl-dots{
    display: none;
  }
  
  .collapse.dont-collapse-sm.col-sm-none{
    display: none !important;
  }
  .col{
    padding-left: 0px !important;
  }
  
  .site-section-noticias {
    padding: 3em 2em 4em 2em; 
  } 
  .site-section {
    padding: 3em 2em 4em 2em; 
  } 
  .noticias_descr{
    padding: 0.5em 4em 4em 4em;
  }
  .accesos_image svg{
    max-width: 55%;
    display: inline-block;
    position: relative;
  }
  .accesos_body{
    padding: 0.1em 1em 1em 1em;
  }

  .enlaces {
    padding-left: 0%;
  }

   .partners_slider_container
	{
		width: 100%;
    left: auto;
    text-align: center;
	}
  .site-sectionpartner2 {
    padding: 6em 0em 5em 1em;
  }
  .site-section-headingdocumentos {
    padding: 3em 2em 0 2em; 
  } 
  .footer p{
    text-align: center;
  }
  .footer_end{
    margin-left: -2em;
    }
  .col-sm-12ths {
    width: 100%;
    line-height: 0;
    text-align: center;
    margin-bottom: 1.5em;
    margin-left: 3.3em;
  }
  .col-sm-9ths {
    width: 15%;
    float: left;
  }

  tbody svg image{
    width: 20px;
    height: 20px;
  }


  /*INSTITUCION*/
  .site-section-seccion {
    padding: 3em 5em 5em 3em; 
  }
  .institucion{
    width: 100%!important;
  }
  .card-body {
    padding: 1rem;
  }
  #main-slider .owl-prev { 
   display: none!important;
  } 
  
  #main-slider .owl-next { 
    display: none !important;
  }
}



